* {
    outline: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    all: unset;
    height: 100%;
    width: 100%;
}

.container {
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-in {
    height: 90%;
    width: 80%;
    max-width: 500px;
    margin: auto;
    background-color: rgba(245, 245, 245, 0.7);
    border-radius: 20px;
}

.background-img {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    object-fit: cover;
    z-index: -1;
}

.main-img {
    height: 180px;
    width: 180px;
    margin: auto;
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bgm {
    all: unset;
}